.encabezado {
  display: flex;
  justify-content: space-around;
  background-color:rgb(0, 0, 0);
  height: 500px;
  align-items: center;
}

.play-list {
  background-color:rgb(0, 0, 0);
  height: 500px;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 0);
}

h1 {
  text-align: center;
  color:  rgb(255, 255, 255);
}
  